---
import Layout from "../layouts/Layout.astro";
import { SEO } from "astro-seo";
---

<head>
  <meta
    name="description"
    content=`This is the about page of Dezaku on his website. In here there is a text describing who he is and stuff like that. You can learn much about him on this page since it's an about page.`
  />
  <SEO
    title="Dezaku | About"
    openGraph={{
      basic: {
        title: "About Dezaku",
        type: "website",
        image: "",
      },
    }}
    twitter={{
      creator: "@_dezaku",
    }}
    extend={{
      meta: [
        {
          name: "keywords",
          content:
            "dezaku,astro,blog,development,webdev,web,technic,technical,portfolio,personal,personal-website,Astro,Vercel",
        },
      ],
    }}
  />
</head>
<Layout title="Dezaku | About">
  <div class="titleContainer">
    <h1 class="text-gradient">This is me.</h1>
  </div>
  <p>
    I'm a 17 years old student in the 11th grade in Germany. I learned web
    development as a hobby and am currently learning different things such as
    advanced CSS (responsiveness, etc.) and backend. In the future I plan to
    learn various things in the programming area. The next thing I'm planning to
    learn is <a class="text-gradient" href="https://www.lua.org/">Lua</a>. On
    this website I plan to post different projects and things I'm learning in my <a
      class="text-gradient"
      href="/blog">blog</a
    >. Maybe other stuff too!
  </p>

  <style>
    .titleContainer {
      font-size: 28px;
      text-align: center;
      margin-top: 4rem;
      margin-bottom: 3rem;
    }

    p {
      font-size: 1.3rem;
    }
  </style>
</Layout>
