---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="titleContainer">
      <img
        src="https://cdn.discordapp.com/avatars/899407456147480596/b912a3e5460db56c9a30f91d279f65cb.webp"
        style="width: 100px; height: 100px;"
      />
      <p>
       <span class="text-gradient">Hi, I'm Dezaku</span>. A student in Germany.
        <a href="/about">About</a> <a href="/blog">Blog</a></p>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    /* padding: 1rem; */
    max-width: 47.5rem;
    /* max-width: calc(100% - 2rem); */
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }

  .titleContainer {
    display: flex;
  }
  .titleContainer p {
    font-size: 28px;
    margin-left: 3rem;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</>
