---
const { title, pubDate, tags } = Astro.props;

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/" style="padding: 10px 10px 10px 0px;">~</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </nav>
    <div class="titleContainer">
      <h1 class="text-gradient">{title}</h1>
    </div>
    <div class="frontmatter">
      <p>Published: {new Date(pubDate).toDateString()}</p>
      <p>
        Tags:
        {
          tags.map((tag) => {
            return <span>{tag}</span>;
          })
        }
      </p>
    </div>
    <slot />
  </body>
</html>

<style>
    
  .titleContainer {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    font-size: 28px;
    gap: 3rem;
  }
  .titleContainer h1 {
    margin: 0;
  }

  p span {
    margin-left: 1rem;
  }

  p span:first-child {
    margin: 0;
  }

  .frontmatter {
    color: rgb(189, 186, 186);+
    margin-top: 0px;
    margin-bottom: 3rem;
    line-height: 1;
  }
  .frontmatter p {
    margin: 0;
  }
</style>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }

  html {
    font-family: "Space Mono", monospace;
    background: #13151a;
    background-size: 224px;
  }

  body {
    margin: auto;
    /* padding: 1rem; */
    max-width: 47.5rem;
    /* max-width: calc(100% - 2rem); */
    color: white;
    font-size: 20px;
  }

  nav {
    font-size: 30px;
    text-align: center;
    margin-top: 1rem;
  }

  nav ul {
    display: flex;
    justify-content: center;
    gap: 36px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  nav a {
    color: white;
    text-decoration: none;
  }

  code {
    font-family: "Space Mono", monospace;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
